/* General styling */

@font-face {
    font-family: "MyFont";
    src: url("C:/Users/Jack Mitchell/Desktop/Coding/Portfolio_Website/Portfolio/assets/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf") format("truetype");
  }

  header {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: "MyFont";
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
  }

  h1, h2, h3 {
    margin-top: 0px;
    padding-left: 20px;
  }

  h4 {
    padding: 0px; 
    margin: 15px 0;
  }

  li {
    font-family: "MyFont";
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 0px 5px;
  }

  .RouterLink, .SmoothLink {
    font-family: "MyFont";
    color: black;
    text-decoration: none;
    cursor: pointer;
    text-emphasis: none;
  }

  /* Components  */
  
  /* Header Component */
.headerBackground {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #fff;
  box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.25) ;
}


.headerList {
  display: flex;
  flex-direction: row;
  width: 350px;
  padding-right:20px;
  justify-content: space-around;
  list-style: none;
}



/* About me Component */

.aboutMeContainer { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.aboutMeTitle {
  align-self: flex-start;
  padding-top: 120px;
}

.aboutMeIntro {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%; 
  margin-top: 30px;
 
}

.profileImage {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  margin-right: 20px; 

}


.techStack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%; 
  list-style: none;
  margin-top: 60px;
  margin-bottom: 60px;
  
  
}

.icon {
  height: auto;
  max-width: 50px;
}

/* Project */


.carouselContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 0px;

  
}

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  
}

.projectTitle {
  align-self: flex-start;
  margin-bottom: 60px;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 20px;

}

.projectImg {
  height: auto;
  width: 240px;
  border-radius: 10px;
}

.projectDescription {
  width: 220px;
  padding: 0px;
  margin: 0px;


}

/* Contact */

.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 800px;
  margin-bottom: 60px;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}


label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}

input,
textarea {
  display: block;
  font-family: "MyFont";
  border-radius: 10px;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f5f5f5;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

input:focus,
textarea:focus {
  border-color: #0077ff;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
  outline: none;
}

button[type="submit"] {
  display: block;
  margin: 1rem auto 0;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  background-color: #0077ff;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #0055cc;
}

/* Pages */

/* About Me Page */

.aboutMePageContainer {
  padding-top: 0px;
  margin-top: 0px;
  width: 50%;
}

.aboutMePageTitle {
  padding-top: 120px;
}

/* Projects page */

/* Project template css */

.projectsPageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0px; 
}

.projectsGridContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* Adjust the column sizing */
  grid-gap: 40px;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  justify-items: center;
}

.projectTempContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 40px;
}

.projectTempImg {
  height: auto;
  width: 100%;
  border-radius: 10px;
  max-width: 240px;
}

h1.projectPageTitle {
  margin-top: 120px; /* Add margin to push it down below the header */
  align-self: flex-start;
}

/* Individual project page css */

.indivProjContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.indivFlexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;

}

.indivProjImg {
  width: 50%;
  height: auto;
  padding-top: 120px;
  border-radius: 10px;
}



.indivProjTitle {
  margin-bottom: 10px;
  text-align: left;
 
  
}

.indivProjDescription {
  margin-bottom: 20px;
  text-align: left;
  
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;

}

.indivProjButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px;
  padding: 40px;
}

.indivProjBtn1,
.indivProjBtn2 {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin: 0 5px;
  cursor: pointer;
}

.indivProjBtn1:hover,
.indivProjBtn2:hover {
  background-color: #0056b3;
}

