/* General styling */

@font-face {
    font-family: "MyFont";
    src: url("C:/Users/Jack Mitchell/Desktop/Coding/Portfolio_Website/Portfolio/assets/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf") format("truetype");
  }

  header {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: "MyFont";
    margin: 0px;
    padding: 0px;
    background-color: #F4F2F3;
    overflow-x: hidden;
    
  }

  h1, h2, h3 {
    margin-top: 0px;
    padding-left: 20px;
  }

  h4 {
    padding: 0px; 
    margin: 15px 0;
  }

  li {
    font-family: "MyFont";
    color: #272932;
    text-decoration: none;
    padding: 0px 5px;
  }

  .RouterLink, .SmoothLink, a {
    font-family: "MyFont";
    color: #272932;
    text-decoration: none;
    cursor: pointer;
    text-emphasis: none;
  }

  .RouterLink:hover,
  .SmoothLink:hover,
  a:hover {
  text-decoration: underline;
}

  /* Components  */
  
  /* Header Component */
.headerBackground {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: whitesmoke;
  box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.25) ;
}


.headerList {
  display: flex;
  flex-direction: row;
  width: 350px;
  padding-right:20px;
  justify-content: space-around;
  list-style: none;
}



/* About me Component */

.aboutMeContainer { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  
}

.aboutMeTitle {
  align-self: flex-start;
  margin-top: 120px;
}

.aboutMeIntro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  
}

.profileImage {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  margin-right: 20px; 
 

}

.aboutMeText {
  width: 50%; 
 
}


.techStack {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%; 
  list-style: none;
  margin-top: 60px;
  margin-bottom: 60px;
 
  
  
}

.icon {
  height: auto;
  max-width: 50px;
}

.aboutMeBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
 
}

.aboutMeBtn1,
.aboutMeBtn2 {
  background-color: #F05D5E;
  color: #fff;
  height: 50px;
  width: 85px;
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.aboutMeBtn1 {
  background-color: #F05D5E;
  color: #fff;
}

.aboutMeBtn2 {
  background-color:#fff;
  color: #F05D5E;
  border: 1px solid #F05D5E;
}


.aboutMeBtn1:hover,
.aboutMeBtn2:hover {
  background-color: #ce5151;
}

@media (max-width: 768px) {
  /* Adjust flex container and items for screens wider than 768px */
  .aboutMeIntro {
    flex-direction: column;
  
  }
}
/* Project */


.carouselContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 0px;

  
}

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  
}

.projectTitle {
  align-self: flex-start;
  margin-bottom: 60px;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 5px;
  border-radius: 20px;

}

.projectImg {
  height: auto;
  width: 240px;
  border-radius: 10px;
}

.projectDescription {
  width: 220px;
  padding: 0px;
  margin: 0px;
}
  
  
  #carouselBtn {
    background-color: #F05D5E;
    color: white;
    height: 50px;
    width: 85px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 50px;
  }
  
  @media (max-width: 768px) {
    /* Adjust flex container and items for screens wider than 768px */
    .flexContainer {
      flex-direction: column;
    
    }

    .projectContainer {
      margin-bottom: 40px;
    }
  }



/* Contact */

.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
  
}

.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  padding: 20px ;
  border-radius: 20px;
  margin-bottom: 50px;
  flex-wrap: wrap;

}

.contactSubtitle {
  margin: 0px
}


.socialItemContainer {
  display: flex;
  flex-direction: row;
 

  
}

.contactIcons {
  height: 30px;
  width: auto;
  padding-right: 25px;
  
}

.heroImg {
  max-width: 300px;
  height: auto
}
  

/* Pages */

/* About Me Page */

.aboutMePageContainer {
  padding-top: 0px;
  margin-top: 0px;
  width: 50%;
  margin: 20px;
}

.aboutMePageTitle {
  padding-top: 120px;
}



/* Projects page */

/* Project template css */

.projectsPageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0px; 
}

.projectsGridContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* Adjust the column sizing */
  grid-gap: 40px;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  justify-items: center;
}

.projectTempContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 40px;
}

.projectTempImg {
  height: auto;
  width: 100%;
  border-radius: 10px;
  max-width: 240px;
}

.projectTemplateTitle, a.projectTemplateTitle {
    font-family: "MyFont";
    color: #272932;
    text-decoration: none;
    cursor: pointer;
}

h1.projectPageTitle {
  margin-top: 120px; /* Add margin to push it down below the header */
  align-self: flex-start;

}

/* Individual project page css */

.indivProjContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.indivFlexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;

}

.indivProjImg {
  width: 50%;
  height: auto;
  padding-top: 120px;
  border-radius: 10px;
}



.indivProjTitle {
  margin-bottom: 10px;
  text-align: left;
 
  
}

.indivProjDescription {
  margin-bottom: 20px;
  text-align: left;
  
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

}

.indivProjButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px;
  padding: 40px;
}

.indivProjBtn1,
.indivProjBtn2 {
  background-color: #F05D5E;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin: 0 5px;
  cursor: pointer;
}

.indivProjBtn1:hover,
.indivProjBtn2:hover {
  background-color: #be4a4a;
}

